$color-white: #ffffff;
$color-text: #0c0c0c;
$color-primary: #091d9e;
$color-primary-hover: #750DC5;
$color-primary-light: #bcc5ff;
$color-text-secondary: #454545;
$text-light: #ababab;
$separator-color: #c1c1c1;
$color-error: #ED0000;

$default-font-family: 'Roboto', sans-serif;

$default-font-size: 16px;

$vp-tablet:  768px;
$vp-desktop: 1200px;

